.wrapper-class input[type="radio"] {
  width: 15px !important;
  height: 15px !important
}

.wrapper-class label {
  display: inline;
  margin-left: 5px;
}

a{
  cursor: pointer;
}

div {
  white-space: pre-wrap;
}

.heading-description{
  display: inline-flex;
}

.answer-description{
  display: inline-flex;
}
