$navbar-font-color: white;
$navbar-bg-color: #3a86e2;
$ab-green-color: #b847bc;
$ab-white-color: #ffffff;
$ab-red-color: #ff5733;
$font-size: 12px;
$mobile-width: 600px;
$blue-color: #4a90e2;
$dark-grey-color: #4a4a4a;
$light-grey-color: #9b9b9b;
